# Binaries
terraform-provider-mssql
*.exe

# Go
*.test
*.out
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# OS
.DS_Store
Thumbs.db

# Local development
dist/
